<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/main.css">
  <title>Buenos Aires Kids Activities</title>
</head>
<body>
  <br>
  Before
  <br>
  <%- body %>
  <br>
  After
  <div class="credits">Background generated with: <a href="http://SVGBackgrounds.com" target="_blank">SVGBackgrounds.com</a></div>
  <div>Iconos diseñados por <a href="https://www.flaticon.es/autores/photo3idea-studio" title="photo3idea_studio">photo3idea_studio</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></div>
</body>
</html>