<div class="places__container">
  <div class="places__form-container">
    Lugares
  </div>
  <div class="cards__grid">
    <% places.forEach(el => { %>
      <% let placeType = "generic"%>
      <% if (el.nombre.toLowerCase().includes('museo')) placeType = "museo" %>
      <% if (el.nombre.toLowerCase().includes('plaza') || el.nombre.toLowerCase().includes('parque') || el.nombre.toLowerCase().includes('jardín')) placeType="parque" %>
      <% if (el.nombre.toLowerCase().includes('teatro')) placeType = "teatro" %>
      <div class="card <%= placeType %>">
        <div class="card__content">
          <div class="place__img">
            <img class="place__img-file" src="/images/<%= placeType %>.svg" alt="<%= placeType %>">
          </div>
          <div class="place__name">
            <label><%= el.nombre %></label>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</div>